<div class='bg'></div>
   <div id='box'>
     <div class='logintext'>
       <p>AnonymousAir</p>
     </div>
     <form>

   <div class="form-group">
     <input type="email" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter username">
     <span></span>
     <input type="email" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter password">
   </div>
   <button type="button" class="btn btn-outline-success" id="loginbutton">Login</button>
   <button type = "button" class="btn btn-outline-warning" id="signupbutton" onclick="window.location = '/signup';">Sign-up</button>
 </div>
