<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form name = "getFlightInfo" > Where would you like to go?<br>
<input type = "text" name = "desiredDepartureLocation"><br>
<input type = "text" name = "desiredArrivalLocation"><br>
<input type = "button" onclick= "getLocation(document.getFlightInfo.desiredDepartureLocation.value,document.getFlightInfo.desiredArrivalLocation.value)" value= "Search">
</form>
<script >
function getLocation(departure, arrival){
  window.location = "main?departure=" + departure + "&arrival=" + arrival;
}
</script>
<p>{{response}}</p>
