
<style>
body{
  text-align: -200px;
}

</style>
<body>
<div id="fname" value='{{param.response}}'>
</p> People really seem to be enjoying these places!  </p>

<ul>
<li style="list-style: none">{{#params.response}}</li>
<li>{{this}}</li>
<li style="list-style: none">{{/params.response}}</li>
</ul>

<p> Maybe you could give one of them a try? </p>
</div>
</body>
