
<table class="table table-dark">
  <thead>
    <th scope="col">Flight ID</th>
    <th scope="col">Deptarture Time</th>
    <th scope="col">Route</th>
    <th scope="col">Extras</th>
  </thead>
  {{#each response}}
  <tbody>
    <tr>
      <td>{{this.fid}}</td>
      <td>{{this.deptTime}}</td>
      <td>{{this.dept}}-->{{this.arr}}</td>
      <td><button class="btn btn-primary">+</button></td>
    </tr>
  </tbody>
  {{/each}}
</table>
