
<table class="table table-dark">
  <thead>
    <th scope="col">Flight ID</th>
    <th scope="col">Deptarture Time</th>
    <th scope="col">Route</th>
    <th scope="col">Extras</th>
  </thead>
  {{#each response}}
  <tbody>
    <tr>
      <td>{{this.fid}}</td>
      <td>{{this.deptTime}}</td>
      <td>{{this.dept}}-->{{this.arr}}</td>
      <td align="center"><button class = 'btn btn-primary' data-toggle="popover" data-trigger="click" href="" data-content='' title="Extra List" data-html="true" >+</button></td>

    </tr>
  </tbody>
  {{/each}}
</table>

<form method="get" action="/checkout">
    <button type="submit" class='btn btn-primary'>Checkout</button>
</form>
<script>
$(function () {
    $('[data-toggle="popover"]').popover();
    var datacontent = '<div class="custom-control custom-checkbox my-1 mr-sm-2">'+
    '<input type="checkbox" class="custom-control-input" id="customControlInline">'+
    '<label class="custom-control-label" for="customControlInline">Facial Reconstruction</label>'+
    '</div>'+
    '<div class="custom-control custom-checkbox my-1 mr-sm-2">'+
    '<input type="checkbox" class="custom-control-input" id="customControlInline">'+
    '<label class="custom-control-label" for="customControlInline">Identification Fabrication</label>'+
    '</div>';

    $('[data-toggle="popover"]').attr('data-content',datacontent);



});


</script>
