<link rel="stylesheet" href="/css/signup.css">


<h1>{{title}}</h1>
<h2>Welcome to Sign Up Page</h2>
<form name = "signupinfo" >
<p> Please Enter Your Desired username. </p>
<input type = 'text' name = 'newUser' placeholder="Enter username" >
<input type = 'button' name= 'validUser' onclick="availableName(document.signupinfo.newUser.value)"  value = 'Check if the username is available'>
<br><br>
<p> Please Enter Your Password </p>
<input type = 'password' name = 'password' placeholder="Enter password">
<br><br>
<p> Confirm Your Password</p>
<input type = 'password' name = 'passwordConfirm' placeholder="Confirm password">
<br><br>
<p> Please Enter Your Email </p>
<input type = 'email' name = 'Email' placeholder="Enter Email">
<br><br>
<p> Confirm Your Email</p>
<input type = 'email' name = 'EmailConfirm' placeholder="Confirm Email">
<br><br>
<input type = 'submit' >
</form>


<script>

function  availableName(newUsertext) {
  window.location = "signup?newUser="+newUsertext;
}


</script>
