<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<title>Anonymous Airlines</title>-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>

     <div class='bg'></div>
        <div id='box'>
          <div class='logintext'>
            <p>AnonymousAir</p>
          </div>
          <form>

        <div class="form-group">
          <input type="email" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter username">
          <span></span>
          <input type="email" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter password">
        </div>
        <button type="button" class="btn btn-outline-success" id="loginbutton">Login</button>
        <button type = "button" class="btn btn-outline-warning" id="signupbutton">Sign-up</button>
      </div>


</body>
</html>
