<h1>Anonymous Air - Admin Portal</h1>

<div class="nav">
    <table>
        <tr>
            <td>
                <div class="nav-item">
                    <button class="btn btn-primary" onclick=" location.href= '/admin/customerTable';">Customer Data
                    </button>
                </div>
            </td>
            <td>
                <div class="nav-item"><input class="btn btn-primary" onclick="confirmReset()" type="button"
                                             value="Reset Table"
                                             id="resetButton"></div>
            </td>
            <td>
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Add
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href='/admin/add?type=Customer'>Add new Customer</a>
                        <a class="dropdown-item" href='/admin/add?type=Flight'>Add new Flight</a>
                        <a class="dropdown-item" href='/admin/add?type=Alias'>Add new Alias</a>
                        <a class="dropdown-item" href='/admin/add?type=Airplane'>Add new Airplane</a>
                        <a class="dropdown-item" href='/admin/add?type=AirplaneModel'>Add new Airplane Model</a>
                        <a class="dropdown-item" href='/admin/add?type=OnFlight'>Add a new flight for Customer</a>
                        <a class="dropdown-item" href='/admin/add?type=FlightReview'>Add flight review</a>
                        <a class="dropdown-item" href='/admin/add?type=Extra'>Add new in-flight Extra</a>
                        <a class="dropdown-item" href='/admin/add?type=OnFlightExtra'>Add extra to flight</a>
                    </div>
                </div>
            </td>
            <td>
                <button class = "btn btn-primary" onclick="location.href = '/admin/flightTable'">Flight Data</button>
            </td>
        </tr>
    </table>

</div>
<p></p>
<script>
    function confirmReset() {

        if (confirm("Are you sure you want to reset the server?")) {

            let url = "/admin/queries/adminReset";
            document.getElementById("resetButton").value = "Working...";
            $.post(
                    url,
                    function (data) {
                        if (data.resetSuccess == true) {
                            document.getElementById("resetButton").value = "Complete";
                        } else {
                            document.getElementById("resetButton").value = "Failed";
                        }
                        window.setTimeout(function () {
                            document.getElementById("resetButton").value = "Reset Table"
                        }, 1000);

                    }
            ).fail(function () {
                document.getElementById("resetButton").value = "Failed";
            });


        }
    }

    function getRoot() {
        return window.location.protocol + '//' + window.location.host;
    }
</script>